{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypeOfNotification</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeOfNotification.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ typeOfNotification.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ typeOfNotification.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeofnotification_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typeofnotification_edit', { 'id': typeOfNotification.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
