{% extends 'base.html.twig' %}

{% block body %}
    <h1>StatusOfTask</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statusOfTask.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ statusOfTask.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ statusOfTask.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('statusoftask_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('statusoftask_edit', { 'id': statusOfTask.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
