{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypeOfClient</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeOfClient.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ typeOfClient.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ typeOfClient.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeofclient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typeofclient_edit', { 'id': typeOfClient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
